# Configuration file

general {

    ##########################################################################################################
    # feature control
    #--------------------------------------------------------------------------------------------------------#
    # Enable or disable Geolosys features entirely
    ##########################################################################################################

    "feature control" {
        B:"Enable Cluster Smelting"=true
        B:"Enable Coals"=true
        B:"Enable Extra Compass Features"=true
        B:"Enable Ingots"=true
        B:"Enable Osmium"=true

        # Allows Osmium to be enabled, without enabling Platinum
        B:"Enable Osmium Exclusively"=false
        B:"Enable Prospector's Pickaxe"=true
        B:"Enable Sulfur"=true
        B:"Enable Yellorium"=false
        B:"Enable debug print statements for generation"=false

        # Min: 0
        # Max: 255
        I:"Prospector's Pickaxe Range"=10
        B:"Register Aluminum as oreBauxite"=false
        B:"Replace Stone Variant Deposits"=true
    }

    ##########################################################################################################
    # samples
    #--------------------------------------------------------------------------------------------------------#
    # Adjust settings specific to samples
    ##########################################################################################################

    samples {
        B:"Allow samples to generate in any water"=false

        # Min: 1
        # Max: 16
        I:"Maximum Number of Samples per Chunk"=10
        B:"Samples drop nothing (contents revealed in chat)"=false
    }

    ##########################################################################################################
    # user entries
    #--------------------------------------------------------------------------------------------------------#
    # Custom user entries
    ##########################################################################################################

    "user entries" {
        S:"Blocks mineral deposits can replace" <
            minecraft:stone:0
            minecraft:stone:1
            minecraft:stone:2
            minecraft:stone:3
            minecraft:dirt:0
            minecraft:gravel
            quark:marble
            quark:biome_cobblestone:1
            quark:biome_cobblestone
            chisel:basalt2:7
            chisel:marble2:7
         >

        # Format is:
        # modid:block:meta, clusterSize, min Y, max Y, chance to gen in chunk. Example:
        # actuallyadditions:block_misc:3, 32, 13, 42, 20
        # Optionally you can declare your own "sample" block by appending an extra modid:block:meta to the end. Example:
        # actuallyadditions:block_misc:3, 32, 13, 42, 20, actuallyadditions:block_misc:1
        # META, COLONS AND COMMAS ARE REQUIRED.
        S:"Custom Ore Entries" <
         >

        # Format is:
        # modid:block:meta, min Y, max Y, chance to gen in chunk
        # ALL CLUSTERS ARE APPROX. THE SAME SIZE & AREN'T CONFIGURABLE.
        # META, COLONS AND COMMAS ARE REQUIRED. Example:
        # rustic:slate:0, 27, 54, 10
        S:"Custom Stone Entries" <
         >
    }

}


